{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="section">
        <div class="section-content">
            <h1>About CoffeeScout</h1>
            <p>
                This website was created as the final project for the CS50 course, but its main purpose is to help coffee lovers discover the perfect coffee beans available in stores across Ireland.
            </p>
            <p>
                I visited several local shops, handpicked interesting coffee bean varieties, gathered detailed information about each one, and built a database. It contains descriptions, origin details, bean types, strength levels, and a list of stores where each coffee can be found.
            </p>
            <p>
                On the website, you can register and search for coffee beans using filters such as store, strength, bean type, and origin. You can also rate different coffees, and leave reviews.
            </p>
            <p>
                I hope this project helps you discover new flavors and find your perfect cup of coffee!
            </p>

        </div>
    </div>



{% endblock %}
